Django==5.2.5
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-redis==5.4.0
django-rq==3.0.1
rq==2.4.1
redis==5.2.1
psycopg2==2.9.10
Pillow==11.3.0
gunicorn==23.0.0
python-dotenv==1.1.1
